# .NET
backend/bin/
backend/obj/
backend/**/bin/
backend/**/obj/
*.user

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Editor / OS
.vs/
.vscode/*
!.vscode/extensions.json
.DS_Store

# Env
*.env
